
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#titleScreen{
    border: 1px solid white;
    width: 42rem;
    height: 54rem;
    margin-top: 2rem;
    background: linear-gradient(360deg, #030303 10%, #1f1f1f 200%);
}


body{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    
    color: white;
}

.titleHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;

    font-size: 2.5rem;
}

.welcomePrompt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 34rem;
    font-size: 1.5rem;
}

#characterCreation{
    border: 1px solid white;
    width: 42rem;
    height: 54rem;
    margin-top: 2rem;
    background: linear-gradient(360deg, #030303 10%, #1f1f1f 200%);
}

#playerName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24rem;
    font-size: 1.5rem;
}

.playerNamePrompt{
    padding-bottom: 1rem;
}







